/***********************************
************************************
TESTIMONIAL
************************************
***********************************/
#testimonial
{
    background: url('/img/bg.jpg') no-repeat;
    background-size: cover;
    min-height: 390px;
}
.bg-testicolor{
    background-color: RGBA(73, 84, 105, 0.61);
    min-height: 390px;
}
.white
{
    color: #fff !important;
}
.testimonial-item ul li blockquote {
    font-size: 18px;
    line-height: 32px;
    color: #fff;
    font-weight: 300;
    text-shadow: 1px 1px 2px #333;
    text-align: center;
    display: inline-block;
    width: 100%;
    margin: 20px 0;
    padding: 0 80px;
    position: relative;
    border: 0;
}
.testimonial-item ul li  small {
    font-size: 16px;
    color: #fff;
    font-weight: 400;
    text-shadow: 1px 1px 2px #333;
    text-align: center;
    display: inline-block;
    width: 100%;
}
.bx-viewport
{
    height: 235px !important;
    background-color: transparent !important;
    border: 0px none !important;
    box-shadow: none !important;
}
.testimonial-item ul li blockquote::before {
    content: '“';
    left: 30px;
}
.testimonial-item ul li blockquote::before, .testimonial-item ul li blockquote::after {
    position: absolute;
    font-weight: 300;
    font-size: 3em;
    font-family: Georgia, serif;
    color: #ccc;
    top: 62%;
}
.testimonial-item ul li blockquote::after {
    content: '”';
    right: 30px;
}